
#ing{	
	position: absolute;
    top: 4.5px;
    right: 15px;	
	
	text-align:center;
	
    background-color: red;
    color: white;
    font-size: 13px;
    
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    
    border-radius: 5px;	
}
#close{		

    width: fit-content;
	text-align:center;
	cursor:pointer;
    background-color: red;
    color: white;
    font-size: 13px;
    
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: text-top;
    border-radius: 5px;	
}


#result{
	overflow-y: scroll;
	overflow-y: overlay;/*FF不支援*/
	max-height:80vh;
	width:100%;
	margin: 0 auto;
	margin-top:15px;
	margin-bottom: 15px;
	border:0px solid red; 
}

#result a{
	color: inherit;
	text-decoration: none;
}
#result::-webkit-scrollbar {
    -webkit-appearance: none;
}

#result::-webkit-scrollbar:vertical {
    width: 10px;
}
#result::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
.itemcopy{
	display:none;
}
.item{
	margin:10px;
	display:inline-block;
	width:45%;
	border: 1px solid lightgrey;
    border-radius: 10px;
	padding:5px;
	padding-top: 8px;
	/*cursor:pointer;*/
}
.item:hover{
	/*border: 1px solid lightpink;*/
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.5); 
}
.item img{
	margin-bottom:-1.5px;
}
.item_info{
	display:inline-block;
    width: -webkit-calc(100% - 120px);
    width:    -moz-calc(100% - 120px);
    width:         calc(100% - 120px);
	text-align:left;
	vertical-align: top;
	padding:5px;
    padding-top: 1px;
    padding-bottom: 0px;
	position:relative;
}

.item_info p{
	margin:0px;
	font-size:13px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;	
	
}
p.title{
	font-size:15px;
	margin-bottom: 4px; 
}
.price_list{
    position: absolute;
    top: 44px;
    right: 10px;
    background-color: rgb(210, 105, 30);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
	width: fit-content;
}
.intro{
	display: -webkit-box;
	-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	
    font-size: 13px;
	color:#5a5a5a;
    border-top: 0.5px solid lightgrey;
    margin-top: 5px;
    padding-top: 5px;
	text-align: justify;	
}

@media screen and (max-width: 992px) {
	#result{
		max-height:70vh;
	}
	.item{
		width:90%;
	}
	.price_list {
		top: -15px;
		left: -103px;
	}
	#close{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
}