{% extends 'wtb_base.html' %}


{% load static %}
{% load my_replace %}

{% block og %} 
    <meta property="og:title" content="{{book.info.title}}" ></meta>
    <meta property="og:image" content="{{book.info.url_cover}}"/>
	<meta property="og:description" content="定價：{{book.info.price_list}}，{{book.info.author}}，{{book.info.publisher}}"></meta>
{% endblock %}

{% block title %} 嘩！找書 | {{book.info.title}} {% endblock %}
{% block js %} 
	<script>
		//店家官網
		const store_urls=[
			{% for surl in surls %}
				'{{surl}}',
			{% endfor %}		
		];			
		//店家名稱
		const store_names=[
			{% for sname in snames %}
				'{{sname}}',
			{% endfor %}		
		];
		//店家代碼
		const stores=['books',
			{% for store in stores %}
				'{{store}}',
			{% endfor %}		
		];
		//整理定價及售價
		const price_list={{book.info.price_list}};
		const bookprices=[
			{
				'store_name'      :store_names[0],
				'store'           :stores[0],
				'price_sale'      :'{{book.info.price_sale}}',
				'price_sale_ebook':'{{book.info.price_sale_ebook}}',
				'url_book'        :'https://www.books.com.tw/products/{{book.info.bookid}}',
				'url_ebook'       :'{{book.info.bookid_ebook}}'!=''?'https://www.books.com.tw/products/{{book.info.bookid_ebook}}':''		
			}
		];	
		//開始逐家push
		{% for bookprice in book.price %}
			//___________________
			bookprices.push(
				{
					'store_name'      :store_names[stores.indexOf('{{bookprice.store}}')],
					'store'           :'{{bookprice.store}}',
					'price_sale'      :'{{bookprice.price_sale}}',
					'price_sale_ebook':'{{bookprice.price_sale_ebook}}',
					'url_book'        :'{{bookprice.url_book}}'.replace(/&amp;/g, '&'),//ORM出來會變$amp;
					'url_ebook'       :'{{bookprice.url_ebook}}'.replace(/&amp;/g, '&')	,
					'url_vdo'         :'{{bookprice.url_vdo}}',
					'stock'           :'{{bookprice.stock}}',
				}
			);
			
			{% ifequal bookprice.store 'taaze' %}
				//taaze 書況影片
				const taaze_vdo='{{bookprice.url_vdo}}';
			{% endifequal %}	
			
			{% ifequal bookprice.store 'mollie' %}
				{% if bookprice.stock %}
					{% ifnotequal bookprice.stock 'nobook' %}
						//茉莉有庫存分店名稱的處理
						bookprices[bookprices.length-1].price_sale=price_list;
						bookprices[bookprices.length-1].url_book='http://www.mollie.com.tw/Store.asp';
					{% endifnotequal %}
				{% endif %}
			{% endifequal %}
			
			//=======================
		{% endfor %}			
		
		//alert(JSON.stringify(bookprices));     
		//
		

	</script>
	<script src='{% static "js/wtb_book.js" %}?v=2'></script>
{% endblock %}

{% block content %} 
	<div id='body_book' class='body' align='' style="">
		<iframe id="wtb_book_bg" class="background" src="https://threejsfundamentals.org/threejs/background.html"></iframe>
		
		<div id='info' data-bookid='{{book.info.bookid}}'>
			<img id='cover' src='{{book.info.url_cover}}'>
			<div id='info_list'>
				<h4 style='margin-top:10px;margin-bottom:0px'>{{book.info.title}}</h4>
				{% if book.info.title2 %}
					<p style='color:grey;margin-top:0px;'>{{book.info.title2}}</p>
				{% endif %}
				
				<div id='info_listp'>
					<p>{{book.info.author}}</p>
					<p>出版社：{{book.info.publisher}}</p>
					<p>出版日期：{{book.info.pub_dt}}</p>
					<p>語言：{{book.info.lang}}</p>
					<p>定價：<span id="price_list" style='color:red;font-weight:bold'>{{book.info.price_list}}</span> 元</p>
					<p>規格：{{book.info.spec}}</p>
					<p id='isbn' data-bookid='{{book.info.bookid}}'>ISBN：<span>{{book.info.isbn}}</span></p>
					{% if book.info.isbn13 %}
						<p id='isbn13' data-bookid='{{book.info.bookid}}'>ISBN13：<span>{{book.info.isbn13}}</span></p>
					{% endif %}	
					<p id="tpml" style="display:">
						<img src="/mystatic/images/tpml.png" style="vertical-align: text-top;width: auto;height: 1.4em;">
						<a href='' target='_blank'>館藏查詢</a> (僅以isbn查詢)
					</p>
					<!--taaze_vdo-->    
					<p id='vdo_btn' style='display:none'>
						<img src='/mystatic/images/vdo_btn.png' style='vertical-align:top;cursor:pointer;'/> 
						<span style='color:#e3007f;cursor:pointer;font-weight:bold'>Taaze影片參考</span>
						<span style=''>(影片的書籍版本可能不同。播放問題則請至Taaze反應)</span>
					</p>
					<div id='vdo_close' style=''>
						關閉/ESC
					</div>
					<video id='vdo' src="" controls style='' type="video/mp4">
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
		
		<div id='price'>			
			<h4 style="">
				<span style="color:rgb(210, 105, 30)">紙本</span>及<span style="color:rgb(100, 149, 237)">電子書</span>──<span id='sn'></span>家售價比較圖<span class='ps'>(更新時間:{{book.info.create_dt}})</span>
			</h4>
            <ol style='font-size:15px;color:black;text-align: justify;padding-right: 20px;'>
                <li style=''>
                    <span style=''>
                        一天更新一次售價，更新時間為每天第一個人點開該商品頁的時間，更新所需的爬蟲處理約耗7~15秒不等。 
                    </span>
                </li> 
                <li style=''>
                    <span style=''>
                        點擊比較圖中的售價數字/長條，可前往本書於各店家的商品頁。點x軸店家名稱可至官網。
                    </span>
                </li>	
                <li style=''>
                    <span style=''>
                        沒有售價的原因很多，如更新時爬蟲失敗(讀冊系統較不穩)，或該店家停售/無銷售此書，或購物網當下沒有上架此書，或同一本書在各店家的ISBN不一致(博客來會key錯ISBN)，或店家售價有問題(誠品也是會key錯數字的)。
                    </span>
                </li>							
                <li style=''>
                    <span style=''>
                        18禁目前無法搜尋。ISBN有一致性問題的書其商品頁可能會出現程式錯誤訊息，即使商品頁顯示正常，售價長條的店家商品連結也可能有抓錯書的情形。
                    </span>
                </li>               
                <li style=''>
                    <span style=''>
                        書籍基本資訊以紙本為主，其他介紹請至各店家商品頁詳閱。售價也請再至各店家商品頁確認(有些難尋二手書會有超出定價甚多的售價)。
                    </span>
                </li>
				
                <li style=''>
                    <span style=''>
                        <span class='mollie'>茉莉</span> 若有售價長條，僅為了表示有庫存，實際售價及庫存請向顯示有庫存的<a href='http://www.mollie.com.tw/Store.asp' target='_blank' title='分店聯絡方式'>分店</a>洽詢或<a href='http://www.mollie.com.tw/Mobile/Books.asp' target='_blank'>線上查書</a>再次確認。
                    </span>
                </li> 
                <li style=''>
                    <span style=''>
                        讀冊/露天/Y拍/蝦皮，不分新舊書，取該店最低價的書籍資料。
                    </span>
                </li>				
            </ol>
			<div style='text-align:center'>
				<svg id='bar' viewBox="0 0 982 400" style="background-color:white;box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);"></svg>
			</div>
		</div>
		
		<div id='intro' style="font-size: 15px;padding: 15px;margin-top: 10px;">
			
			{% if book.info.intro %}
				<h3 style='color: #f28900;border-bottom: 0.5px solid grey'>內容簡介</h3>
				<!---->
				{% if book.info.url_vdo %}
					<div style='text-align: center;margin-top: 2em;margin-bottom: 2em;'>
						<iframe id='intro_vdo' width="560" height="315" src="{{book.info.url_vdo}}" frameborder="0" allowfullscreen></iframe>
					</div> 
				{% endif %}		
				<!---->
				{% autoescape off %}
					{{book.info.intro}}
				{% endautoescape %}	
			{% endif %}				
			
		</div>
	</div>	
{% endblock %}


