<!--
wtb_header.html
每個html都要load static  
-->
{% load static %}
<div id='header'>
    
    <div id="header_navarea">
        <span title='首頁'>
            <a href='/'>
                What The Book
            </a>
        </span>
    </div>
    <!-- 
	<form id='header_kwarea' action='/search' method='GET' accept-charset="utf-8" >
	--> 
    <div id='header_kwarea'>     
        <input autofocus="autofocus" autocomplete="off" id='kw_input' class='nooutline' type='text' name='kw' maxlength="40" placeholder='輸入書籍關鍵字，替您蒐集比價'></input>
        
		<button id='kw_submit' class='nooutline' type="submit" title='按下去找看看'></button>
		<div id='ing' style="display:none" data-show='N'>
			搜尋中
		</div>
    </div>    
	<!---->
	
	<!--搜尋結果-->
    <div id='result' style="display:none">
		<div>
			<p style='text-align:center;margin-bottom: 0px;font-size:15px'>
			僅提供關鍵字<span id='kw' style='color:#CC0000'></span>最準確10筆以內的搜尋結果如下。
				<span id='close'>關閉搜尋結果</span>
			</p>
		</div>
		<div id='' class='itemcopy' data-bookid='' style=''>
			<a href='' target="_blank">
				<img src=''>
				<div class="item_info" style=''>
					<p class='title'><strong></strong></p>
					<p class='author'></p>
					<p>出版社：<span class='publisher'></span>/出版日期：<span class='pub_dt'></span></p>				
					<p class='price_list'>定價:<span></span></p>
					<div class='intro'></div>
				</div>
			</a>
		</div>	
	</div>
</div>
