{% extends 'wtb_base.html' %}


{% load static %}
{% load my_replace %}


{% block title %} 嘩！找書 | {{book.info.title}} {% endblock %}
{% block js %} 
	<script>
		//店家官網
		const store_urls=[
			{% for surl in surls %}
				'{{surl}}',
			{% endfor %}		
		];			
		//店家名稱
		const store_names=[
			{% for sname in snames %}
				'{{sname}}',
			{% endfor %}		
		];
		//店家代碼
		const stores=['books',
			{% for store in stores %}
				'{{store}}',
			{% endfor %}		
		];
		//整理定價及售價
		const price_list={{book.info.price_list}};
		const bookprices=[
			{
				'store_name'      :store_names[0],
				'store'           :stores[0],
				'price_sale'      :'{{book.info.price_sale}}',
				'price_sale_ebook':'{{book.info.price_sale_ebook}}',
				'url_book'        :'https://www.books.com.tw/products/{{book.info.bookid}}',
				'url_ebook'       :'{{book.info.bookid_ebook}}'!=''?'https://www.books.com.tw/products/{{book.info.bookid_ebook}}':''		
			}
		];	
		//開始逐家push
		{% for bookprice in book.price %}				
			bookprices.push(
				{
					'store_name'      :store_names[stores.indexOf('{{bookprice.store}}')],
					'store'           :'{{bookprice.store}}',
					'price_sale'      :'{{bookprice.price_sale}}',
					'price_sale_ebook':'{{bookprice.price_sale_ebook}}',
					'url_book'        :'{{bookprice.url_book}}'.replace(/&amp;/g, '&'),//ORM出來會變$amp;
					'url_ebook'       :'{{bookprice.url_ebook}}'.replace(/&amp;/g, '&')	,
					'url_vdo'         :'{{bookprice.url_vdo}}',
				}
			);
			{% ifequal bookprice.store 'taaze' %}
				const taaze_vdo='{{bookprice.url_vdo}}';
			{% endifequal %}	
		{% endfor %}			
		
		//alert(JSON.stringify(bookprices));
		//
		

	</script>
	<script src='{% static "js/wtb_book.js" %}?v=2'></script>
{% endblock %}

{% block content %} 
	<div id='body_book' class='body' align='' style="">
		<iframe id="wtb_book_bg" class="background" src="https://threejsfundamentals.org/threejs/background.html"></iframe>
		
		<div id='info'>
			<img id='cover' src='{{book.info.url_cover}}'>
			<div id='info_list'>
				<h4 style='margin-top:10px;margin-bottom:0px'>{{book.info.title}}</h4>
				{% if book.info.title2 %}
					<p style='color:grey;margin-top:0px;'>{{book.info.title2}}</p>
				{% endif %}
				
				<div id='info_listp'>
					<p>{{book.info.author}}</p>
					<p>出版社：{{book.info.publisher}}</p>
					<p>出版日期：{{book.info.pub_dt}}</p>
					<p>語言：{{book.info.lang}}</p>
					<p>定價：<span id="price_list" style='color:red'>{{book.info.price_list}}</span> 元</p>
					<p>規格：{{book.info.spec}}</p>
					<p data-bookid='{{book.info.bookid}}'>ISBN：{{book.info.isbn}}</p>
					{% if book.info.isbn13 %}
						<p data-bookid='{{book.info.bookid}}'>ISBN13：{{book.info.isbn13}}</p>
					{% endif %}	
					<!--taaze_vdo-->
					<p id='vdo_btn' style='cursor:pointer;display:none'>
						<img src='/mystatic/images/vdo_btn.png' style='vertical-align: top;'/> 
						<span style='color:#e3007f;'>Taaze影片參考</span>
						<span style=''>(影片內的書籍版本可能不同)</span>
					</p>
					<div id='vdo_close' style=''>
						關閉影片
					</div>
					<video id='vdo' src="" controls="" style='' type="video/mp4">
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
		
		<div id='price'>			
			<h4 style="margin-bottom:10px;margin-left: 20px;">
				<span style="color:rgb(210, 105, 30)">紙本</span>及<span style="color:rgb(100, 149, 237)">電子書</span>售價一覽<span class='ps'>(更新時間:{{book.info.create_dt}})</span>
			</h4>
            <ol style='font-size:15px;color:black'>
                <li style=''>
                    <span style=''>
                        書籍基本資訊以紙本為主，其他介紹請至各平台商品頁詳閱。
                    </span>
                </li>			
                <li style=''>
                    <span style=''>
                        點擊圖中的售價數字/長條，可前往本書於各平台的商品頁。點店家名稱可至官網。
                    </span>
                </li>
                <li style=''>
                    <span style=''>
                        一天更新一次售價，僅供參考，請以各平台商品頁的資料為準。 
                    </span>
                </li>                
                <li style=''>
                    <span style=''>
                        售價有問題或沒有售價的原因很多，如爬蟲失敗，或該平台無銷售(博客來無絕版書)，或平台售價本身也有錯。
                    </span>
                </li>                 
            </ol>
			<svg id='bar'></svg>
		</div>
		
		<div id='intro' style="font-size: 15px;padding: 15px;margin-top: -30px;">
			{% if book.info.intro %}
				<h3 style='color: #f28900;border-bottom: 0.5px solid grey'>內容簡介</h3>
				{% autoescape off %}
					{{book.info.intro}}
				{% endautoescape %}	
			{% endif %}	
			
			{% if book.info.url_vdo %}
				<div style='text-align: center;margin-top: 2em;'>
					<iframe width="560" height="315" src="{{book.info.url_vdo}}" frameborder="0" allowfullscreen></iframe>
				</div> 
			{% endif %}				
		</div>
	</div>	
{% endblock %}


