<!--
wtb_header.html
每個html都要load static 
-->
{% load static %}
<div id='header'>
    
    <div id="header_navarea">
        <span title='首頁'>
            <a href='/'>
                What The Book
            </a>
        </span>
    </div>
    <!-- --> 
    <div id='header_kwarea'>                    
        <input autofocus id='kw_input' class='nooutline' type='text' name='kw' placeholder=''/>
        <button id='kw_submit' class='nooutline' type="submit" title='按下去找看看'/>
    </div>    
    
</div>